#title {
    font-family: 'Josefin Slab', serif;
    color: #20B2AA;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    font-family: 'Josefin Slab', serif;
    border-style: double;
    font-size: 30px;
    color:	#DA70D6;
    border-color: #B0E0E6;

  }
      .flex-container > div {
        background: white;
        margin: 30px;
        padding: 60px;
        font-size: 28px;
        font-family: 'Josefin Slab', serif;
  }
  
  .body {
    margin: 0;
    font-family: Arial;
  }


