.header {
    background: rgb(63,68,251);
    background: radial-gradient(circle, rgba(63,68,251,0.5956757703081232) 0%, rgba(70,252,230,1) 100%);
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
      .flex-container > div {
          background-color:white;
          margin: 30px;
          padding: 60px;
          font-size: 30px;
  }
.body {
    margin: 0;
    font-family: Arial;
  }
  
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    }
    
.column img {
    margin-top: 8px;
    vertical-align: middle;
    }

.h1 {
    text-align: center;
    font-size: 75px;
}