.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
      .flex-container > div {
          background-color:white;
          margin: 30px;
          padding: 60px;
          font-size: 30px;
  }