ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 10px;
}
 .NFC {
     background: #f1f1f1; 
 }

 .AFC {
     background: #e1e1e1;

 }

 table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

#patriots {
    color: #e90101;
    background: #07163f;
}

a:hover {
    color: orange;
}

#cowboys {
    color: navy;
    background: white;
}

#jets {
    color: green;
    background: white;
}

#steelers {
    color: yellow;
    background: white;
}

#packers {
    color: gold;
    background: white;
}